
UID=
GID=

DB_HOST=baseDatos
DB_PORT=5432
POSTGRES_DB=fei
POSTGRES_USER=fei
POSTGRES_PASSWORD=fei


DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=admin